<section class="index-page">
  <div class="index-page-container">
    {% comment %} <video class="mov-logo" src="{{ "logo.mov" | asset_url }} > </video> {% endcomment %}
     <div style="display: flex; flex-direction: column; gap: 25px;">
       <button class="custom-button">
         <span class="glow-effect"></span>
         music
       </button>
       <button class="custom-button">
         <span class="glow-effect"></span>
         merch
       </button>
     </div>
  </div>
</section>

<style>
.index-page{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* padding-top: 100px; */
}
/* .index-page > button{
  color: red;
} */

.mov-logo{
  width: 300px;
  height: fit-content;
}
.custom-button {
  background-color: black; /* bg-red-950 */
  color: red; /* text-red-400 */
  border: 1px solid rgba(190, 30, 30, 1);  ; /* border border-red-400 */
  border-bottom-width: 8px; /* border-b-4 */
  font-weight: 500; /* font-medium */
  overflow: hidden;
  position: relative;
  padding: 10px 20px; /* px-4 py-2 */
  border-radius: 10px; /* rounded-md */
  outline: none;
  transition: all 0.3s; /* duration-300 */
  text-transform: uppercase;
  font-size: 30px;
}

.custom-button:hover {
  filter: brightness(1.5); /* hover:brightness-150 */
  border-top-width: 8px; /* hover:border-t-4 */
  border-bottom-width: 1px; /* hover:border-b */
}

.custom-button:active {
  opacity: 0.75; /* active:opacity-75 */
}

.glow-effect {
  background-color: rgba(190, 30, 30, 1); /* bg-red-400 */
  box-shadow: 0 0 10px 10px rgba(248, 113, 113, 0.3); /* shadow-red-400 */
  position: absolute;
  top: -150%;
  left: 0;
  display: inline-flex;
  width: 320px; /* w-80 */
  height: 5px;
  border-radius: 6px; /* rounded-md */
  opacity: 0.5;
  transition: top 0.5s; /* duration-500 */
}

.custom-button:hover .glow-effect {
  top: 150%;
}
</style>