<section class="artist-page">
    <nav class="artist-navbar">
        <a href="">
            <li>{% render 'icon-back-arrow' %}</li>
        </a>
        <a href="">
            <li>shows</li>
        </a>
    </nav>
    <div class="artist-banner">
        <img src="{{ 'logo-2--unscreen.gif'  | asset_url }}" alt="" width="" height="" class="clikable-image">
        <div class="artist-banner-img">
            <div class="image-container">
                <img src="https://cdn.shopify.com/s/files/1/0552/4511/1342/files/index-background.jpg?v=1722259908"
                    width="" height="" alt="">
            </div>
        </div>
        <div class="scroll-down js-scroll-fade">
        <div>
            <h3 class="js-shuffle">CIRCUS MAXIMUS TOUR</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" fill="none" viewBox="0 0 11 12" class="bouncy">
                <circle cx="5.332" cy="3.847" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="2.598" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="1.348" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="5.098" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="6.348" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="7.598" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="8.848" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="10.099" r="0.547" fill="currentColor"></circle>
                <circle cx="5.332" cy="11.349" r="0.547" fill="currentColor"></circle>
                <circle cx="9.304" cy="7.376" r="0.547" fill="currentColor" transform="rotate(45 9.304 7.376)"></circle>
                <circle cx="8.42" cy="8.26" r="0.547" fill="currentColor" transform="rotate(45 8.42 8.26)"></circle>
                <circle cx="7.536" cy="9.144" r="0.547" fill="currentColor" transform="rotate(45 7.536 9.144)"></circle>
                <circle cx="6.652" cy="10.028" r="0.547" fill="currentColor" transform="rotate(45 6.652 10.028)"></circle>
                <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -8.65 1.66)"></circle>
                <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -10.16 1.036)"></circle>
                <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -11.668 .41)"></circle>
                <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -13.178 -.214)"></circle>
            </svg>
        </div>
    </div>
    </div>
    <nav class="responsive-artist-navbar duration-[444ms]">
        <img src="{{ 'logo-2--unscreen.gif'  | asset_url }}" alt="" width="150px" height="" class="">
        <ul>
            <li class=""><a class="button-large" href="">
                <span>TOUR</span></a>
            </li>
            <li class="">
                <a class="button-large" href="">
                    <span>Utopia World</span>
                </a>
            </li>
            <li class=""><a class="button-large" target="_BLANK"
                    href=""><span>Utopia Shop</span></a></li>
            <li class=""><a class="button-large" href=""><span>Utopia
                        Album</span></a></li>
            <li
                class="">
                <button class="button-large bare js-email"><span>EMAIL</span></button>
            </li>
            <li
                class="">
                <button class="button-large bare js-sms"><span>TEXT</span></button>
            </li>
        </ul>
    </nav>
    <div class="music-icon-grid">
        <a class="grid-item" href="https://open.spotify.com/artist/6je6DxgdIm0CGZTgcIAHJW?si=lJoiRL8-SIWso3WMvL-oDw">  
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0.253 0.2769999999999917 558.4269999999998 167.483"><path d="M83.996.277C37.747.277.253 37.77.253 84.019c0 46.251 37.494 83.741 83.743 83.741 46.254 0 83.744-37.49 83.744-83.741 0-46.246-37.49-83.738-83.745-83.738l.001-.004zm38.404 120.78a5.217 5.217 0 0 1-7.18 1.73c-19.662-12.01-44.414-14.73-73.564-8.07a5.222 5.222 0 0 1-6.249-3.93 5.213 5.213 0 0 1 3.926-6.25c31.9-7.288 59.263-4.15 81.337 9.34 2.46 1.51 3.24 4.72 1.73 7.18zm10.25-22.802c-1.89 3.072-5.91 4.042-8.98 2.152-22.51-13.836-56.823-17.843-83.448-9.761-3.453 1.043-7.1-.903-8.148-4.35a6.538 6.538 0 0 1 4.354-8.143c30.413-9.228 68.222-4.758 94.072 11.127 3.07 1.89 4.04 5.91 2.15 8.976zm.88-23.744c-26.99-16.031-71.52-17.505-97.289-9.684-4.138 1.255-8.514-1.081-9.768-5.219a7.835 7.835 0 0 1 5.221-9.771c29.581-8.98 78.756-7.245 109.83 11.202a7.823 7.823 0 0 1 2.74 10.733c-2.2 3.722-7.02 4.949-10.73 2.739zm94.56 3.072c-14.46-3.448-17.03-5.868-17.03-10.953 0-4.804 4.52-8.037 11.25-8.037 6.52 0 12.98 2.455 19.76 7.509.2.153.46.214.71.174a.933.933 0 0 0 .63-.386l7.06-9.952a.95.95 0 0 0-.18-1.288c-8.07-6.473-17.15-9.62-27.77-9.62-15.61 0-26.52 9.369-26.52 22.774 0 14.375 9.41 19.465 25.67 23.394 13.83 3.187 16.17 5.857 16.17 10.629 0 5.29-4.72 8.58-12.32 8.58-8.44 0-15.33-2.85-23.03-9.51a.98.98 0 0 0-.69-.23c-.26.02-.49.14-.65.33l-7.92 9.42c-.33.4-.29.98.09 1.32 8.96 8 19.98 12.22 31.88 12.22 16.82 0 27.69-9.19 27.69-23.42.03-12.007-7.16-18.657-24.77-22.941zm62.86-14.26c-7.29 0-13.27 2.872-18.21 8.757v-6.624a.945.945 0 0 0-.94-.949h-12.95c-.52 0-.94.426-.94.949v73.601c0 .52.42.95.94.95h12.95c.52 0 .94-.43.94-.95v-23.23c4.94 5.53 10.92 8.24 18.21 8.24 13.55 0 27.27-10.43 27.27-30.369.02-19.943-13.7-30.376-27.26-30.376zm12.21 30.375c0 10.149-6.25 17.239-15.21 17.239-8.85 0-15.53-7.41-15.53-17.239 0-9.83 6.68-17.238 15.53-17.238 8.81-.001 15.21 7.247 15.21 17.237zm50.21-30.375c-17.45 0-31.12 13.436-31.12 30.592 0 16.972 13.58 30.262 30.91 30.262 17.51 0 31.22-13.39 31.22-30.479 0-17.031-13.62-30.373-31.01-30.373zm0 47.714c-9.28 0-16.28-7.46-16.28-17.344 0-9.929 6.76-17.134 16.07-17.134 9.34 0 16.38 7.457 16.38 17.351 0 9.927-6.8 17.127-16.17 17.127zm68.27-46.53h-14.25V49.941a.944.944 0 0 0-.94-.948H393.5c-.52 0-.95.426-.95.948v14.566h-6.22c-.52 0-.94.426-.94.949v11.127c0 .522.42.949.94.949h6.22v28.795c0 11.63 5.79 17.53 17.22 17.53 4.64 0 8.49-.96 12.12-3.02.3-.16.48-.48.48-.82v-10.6c0-.32-.17-.63-.45-.8a.918.918 0 0 0-.92-.04c-2.49 1.25-4.9 1.83-7.6 1.83-4.15 0-6.01-1.89-6.01-6.11v-26.76h14.25c.52 0 .94-.426.94-.949V65.462a.918.918 0 0 0-.93-.949zm49.64.057v-1.789c0-5.263 2.02-7.61 6.54-7.61 2.7 0 4.87.536 7.3 1.346.3.094.61.047.85-.132a.94.94 0 0 0 .39-.77v-10.91a.937.937 0 0 0-.67-.909c-2.56-.763-5.84-1.546-10.76-1.546-11.95 0-18.28 6.734-18.28 19.467v2.74h-6.22c-.52 0-.95.426-.95.948v11.184c0 .522.43.949.95.949h6.22v44.405c0 .53.43.95.95.95h12.94c.53 0 .95-.42.95-.95V77.535h12.09l18.52 44.402c-2.1 4.66-4.17 5.59-6.99 5.59-2.28 0-4.69-.68-7.14-2.03a1.03 1.03 0 0 0-.75-.07c-.25.09-.46.27-.56.51l-4.39 9.63c-.21.46-.03.99.41 1.23 4.58 2.48 8.71 3.54 13.82 3.54 9.56 0 14.85-4.46 19.5-16.44l22.46-58.037a.925.925 0 0 0-.1-.881.924.924 0 0 0-.77-.412h-13.48c-.41 0-.77.257-.9.636l-13.81 39.434-15.12-39.46a.944.944 0 0 0-.88-.61h-22.12zm-28.78-.057h-12.95c-.52 0-.95.426-.95.949v56.481c0 .53.43.95.95.95h12.95c.52 0 .95-.42.95-.95V65.46a.947.947 0 0 0-.95-.949zm-6.4-25.719c-5.13 0-9.29 4.152-9.29 9.281 0 5.132 4.16 9.289 9.29 9.289s9.28-4.157 9.28-9.289c0-5.128-4.16-9.281-9.28-9.281zm113.42 43.88c-5.12 0-9.11-4.115-9.11-9.112s4.04-9.159 9.16-9.159 9.11 4.114 9.11 9.107c0 4.997-4.04 9.164-9.16 9.164zm.05-17.365c-4.67 0-8.2 3.71-8.2 8.253 0 4.541 3.51 8.201 8.15 8.201 4.67 0 8.2-3.707 8.2-8.253 0-4.541-3.51-8.201-8.15-8.201zm2.02 9.138l2.58 3.608h-2.18l-2.32-3.31h-1.99v3.31h-1.82v-9.564h4.26c2.23 0 3.69 1.137 3.69 3.051.01 1.568-.9 2.526-2.21 2.905zm-1.54-4.315h-2.37v3.025h2.37c1.18 0 1.89-.579 1.89-1.514 0-.984-.71-1.511-1.89-1.511z" fill="#1ed760"/></svg>
            </div>
        </a>
        <a class="grid-item" href="https://music.apple.com/us/album/free-me-gyal-single/1750745285">   
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="7104.335 7172.337 191.331 55.328">
                <path d="M7151.891 7212.926c-1.299 2.881-1.922 4.166-3.595 6.711-2.334 3.556-5.625 7.979-9.703 8.019-3.625.033-4.557-2.357-9.475-2.332-4.917.026-5.943 2.373-9.566 2.34-4.078-.037-7.197-4.033-9.533-7.586-6.528-9.938-7.211-21.6-3.186-27.799 2.861-4.404 7.376-6.982 11.622-6.982 4.323 0 7.04 2.369 10.612 2.369 3.467 0 5.578-2.373 10.576-2.373 3.776 0 7.778 2.059 10.631 5.609-9.342 5.119-7.823 18.456 1.617 22.024z" fill="#FFFFFF" stroke="#FFFFFF"/>
                <path d="M7135.854 7181.319c1.815-2.33 3.194-5.619 2.694-8.982-2.967.205-6.437 2.092-8.461 4.551-1.838 2.232-3.355 5.543-2.766 8.762 3.239.099 6.589-1.835 8.533-4.331z" fill="#FFFFFF" stroke="#FFFFFF"/>
                <g fill="#FFFFFF" stroke="#FFFFFF">
                  <path d="M7168.464 7197.131c0 2.019-1.535 3.647-3.938 3.647-2.305 0-3.84-1.631-3.792-3.647-.048-2.11 1.487-3.694 3.84-3.694s3.843 1.584 3.89 3.694zm-7.536 30.004v-23.476h7.297v23.476h-7.297zM7180.56 7200.924h-8.688v-6.144h24.865v6.144h-8.832v26.211h-7.347l.002-26.211zM7219.921 7219.599c0 3.071.097 5.567.19 7.537h-6.336l-.336-3.312h-.146c-.912 1.439-3.121 3.842-7.346 3.842-4.753 0-8.257-2.979-8.257-10.227v-13.775h7.345v12.625c0 3.408 1.104 5.471 3.648 5.471 2.018 0 3.169-1.391 3.648-2.543.19-.432.237-1.008.237-1.584v-13.969h7.347v15.936h.006v-.001zM7225.775 7211.147c0-2.93-.096-5.426-.191-7.487h6.336l.336 3.217h.146c.959-1.487 3.357-3.744 7.248-3.744 4.801 0 8.398 3.168 8.398 10.08v13.922h-7.295v-13.01c0-3.022-1.057-5.088-3.695-5.088-2.018 0-3.217 1.394-3.695 2.733-.191.48-.287 1.152-.287 1.824v13.537h-7.297v-15.983l-.004-.001zM7259.52 7217.726c.24 3.024 3.217 4.465 6.625 4.465 2.496 0 4.513-.336 6.479-.959l.961 4.942c-2.399.961-5.328 1.487-8.498 1.487-7.97 0-12.528-4.655-12.528-12.002 0-5.953 3.696-12.526 11.856-12.526 7.586 0 10.465 5.901 10.465 11.713 0 1.248-.145 2.353-.238 2.879l-15.122.001zm8.593-4.995c0-1.774-.77-4.752-4.129-4.752-3.072 0-4.32 2.783-4.514 4.752h8.643zM7279.199 7220.75c1.347.813 4.129 1.774 6.289 1.774 2.209 0 3.121-.77 3.121-1.969s-.721-1.775-3.457-2.688c-4.849-1.631-6.721-4.271-6.672-7.008 0-4.416 3.744-7.73 9.554-7.73 2.735 0 5.187.625 6.625 1.346l-1.297 5.041c-1.058-.576-3.071-1.346-5.088-1.346-1.774 0-2.784.721-2.784 1.92 0 1.105.912 1.682 3.792 2.689 4.465 1.535 6.337 3.793 6.385 7.248 0 4.369-3.456 7.633-10.177 7.633-3.07 0-5.811-.722-7.585-1.683l1.294-5.227z"/>
                </g>
              </svg>
              
            </div>
        </a>
        <a class="grid-item" href="https://music.apple.com/us/artist/highonfi/1319516437">   
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="-10.297 .021 960.248 228.95" width="100%">
                <path d="m397.772 226.063v-154.575h-1.007l-62.179 154.575h-23.736l-62.327-154.575h-.996v154.575h-29.161v-210.027h37.023l66.757 167.374h1.144l66.608-167.362h37.172v210.027h-29.298zm190.541 0h-29.596v-25.905h-.71c-8.296 18.339-23.587 28.664-46.602 28.664-32.731 0-52.76-21.681-52.76-56.756v-99.124h30.878v93.01c0 23.285 10.873 35.797 32.16 35.797 22.317 0 35.753-15.717 35.753-39.585v-89.222h30.866v153.121zm84.622-155.892c35.02 0 57.75 19.805 58.756 48.034h-29.023c-1.717-14.836-12.44-24.154-29.733-24.154-16.732 0-27.88 8.288-27.88 20.525 0 9.605 6.867 16.141 23.153 19.93l24.446 5.678c30.74 7.28 42.46 19.507 42.46 41.623 0 27.955-25.59 47.164-61.035 47.164-37.595 0-60.199-18.774-63.048-47.885h30.591c2.861 16.004 13.585 23.868 32.457 23.868 18.575 0 30.02-7.864 30.02-20.376 0-9.902-5.574-15.718-22.02-19.507l-24.446-5.815c-28.588-6.697-42.745-20.674-42.745-42.928 0-27.371 23.45-46.157 58.047-46.157zm83.602-37.685c0-10.05 8.012-18.052 17.865-18.052 9.866 0 17.74 8.013 17.74 18.052 0 9.89-7.874 18.042-17.74 18.042-4.948-.041-9.163-1.821-12.645-5.34-3.482-3.517-5.218-7.752-5.208-12.702zm2.427 40.456h30.877v153.121h-30.877zm161.243 52.693c-3.147-16.302-15.153-29.26-35.307-29.26-23.873 0-39.598 20.227-39.598 53.116 0 33.633 15.862 53.14 39.884 53.14 18.998 0 31.45-10.624 35.02-28.39h29.745c-3.284 32.602-28.874 54.73-65.04 54.73-43.031 0-71.047-29.992-71.047-79.468 0-48.618 28.016-79.332 70.762-79.332 38.74 0 62.327 25.334 65.04 55.464h-29.448zm-796.282-89.108c-7.988 9.547-20.657 17.126-33.338 16.004-1.66-12.913 4.692-26.673 11.857-35.087 7.976-9.844 21.756-16.85 33.052-17.423 1.384 13.485-3.846 26.673-11.56 36.518zm11.433 18.534c7.142.56 27.753 2.793 40.949 22.666-1.099.847-24.457 14.561-24.182 43.386.274 34.457 29.675 45.927 29.95 46.213-.275.847-4.658 16.244-15.381 32.19-9.35 14.012-18.964 27.727-34.357 28.013-14.844.274-19.8-8.964-36.829-8.964-17.04 0-22.546 8.678-36.554 9.238-14.844.55-26.094-14.847-35.444-28.847-19.25-28.276-33.807-79.79-14.02-114.51 9.614-17.354 27.204-28.275 46.168-28.561 14.569-.263 28.04 9.81 36.829 9.81 8.8 0 24.457-11.756 42.871-10.646z" fill="#FFFFFF" fill-rule="evenodd"/></svg>
            </div>
        </a>
        <a class="grid-item" href="https://www.deezer.com/us/artist/13678115">    
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" viewBox="0 .044 1000 191.2" width="100%"><linearGradient id="a" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-111.722" x2="-111.943" y1="241.804" y2="255.826"><stop offset="0" stop-color="#358c7b"/><stop offset=".526" stop-color="#33a65e"/></linearGradient><linearGradient id="b" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-123.891" x2="-99.772" y1="223.628" y2="235.917"><stop offset="0" stop-color="#222b90"/><stop offset="1" stop-color="#367b99"/></linearGradient><linearGradient id="c" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-208.432" x2="-185.032" y1="210.773" y2="210.773"><stop offset="0" stop-color="#f90"/><stop offset="1" stop-color="#ff8000"/></linearGradient><linearGradient id="d" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-180.132" x2="-156.732" y1="210.773" y2="210.773"><stop offset="0" stop-color="#ff8000"/><stop offset="1" stop-color="#cc1953"/></linearGradient><linearGradient id="e"><stop offset="0" stop-color="#cc1953"/><stop offset="1" stop-color="#241284"/></linearGradient><linearGradient id="f" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-151.832" x2="-128.432" xlink:href="#e" y1="210.773" y2="210.773"/><linearGradient id="g" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-123.56" x2="-100.16" y1="210.773" y2="210.773"><stop offset="0" stop-color="#222b90"/><stop offset="1" stop-color="#3559a6"/></linearGradient><linearGradient id="h" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-152.756" x2="-127.508" xlink:href="#e" y1="226.081" y2="233.464"/><linearGradient id="i" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-180.965" x2="-155.899" y1="234.334" y2="225.211"><stop offset=".003" stop-color="#fc0"/><stop offset="1" stop-color="#ce1938"/></linearGradient><linearGradient id="j" gradientTransform="matrix(1.8318 0 0 -1.8318 381.813 477.953)" gradientUnits="userSpaceOnUse" x1="-178.165" x2="-158.699" y1="257.754" y2="239.791"><stop offset=".003" stop-color="#ffd100"/><stop offset="1" stop-color="#fd5a22"/></linearGradient><path fill="#fff" d="m234.1 126.944c0 40.1 24.7 64.1 61.4 64.1 18.3 0 33.7-5.1 42.3-18.5v18.5h33.5v-191h-34.8v81.2c-7.9-13.4-22.5-19.4-40.8-19.4-35.8-.1-61.6 24.4-61.6 65.1zm103.5 0c0 22.9-15.6 37.2-34.3 37.2-19.4 0-34.3-14.3-34.3-37.2 0-23.3 15-37.9 34.3-37.9 18.7 0 34.3 14.8 34.3 37.9zm142 14.8c-4 14.8-14.1 22.2-30 22.2-18.5 0-33.7-11.2-34.1-31h87.7c1.1-4.9 1.6-10.1 1.6-15.8 0-35.5-24.2-55.5-59.9-55.5-38.1 0-64.3 27.1-64.3 63.9 0 41 28.9 65.6 68.9 65.6 30.2 0 50.7-12.6 59.7-37.7zm-64.1-32c3.3-14.3 15.2-22.7 29.5-22.7 15.6 0 26.2 8.4 26.2 21.6l-.2 1.1zm193.2 32c-4 14.8-14.1 22.2-30 22.2-18.5 0-33.7-11.2-34.1-31h87.7c1.1-4.9 1.6-10.1 1.6-15.8 0-35.5-24.2-55.5-59.9-55.5-38.1 0-64.3 27.1-64.3 63.9 0 41 28.9 65.6 68.9 65.6 30.2 0 50.7-12.6 59.7-37.7zm-64.1-32c3.3-14.3 15.2-22.7 29.5-22.7 15.6 0 26.2 8.4 26.2 21.6l-.2 1.1zm212.1 81.5v-31.5h-73.1l71.1-69.2v-28.8h-112.5v30h68.7l-70.9 69.5v30zm101.7-49.5c-4 14.8-14.1 22.2-30 22.2-18.5 0-33.7-11.2-34.1-31h87.7c1.1-4.9 1.6-10.1 1.6-15.8 0-35.5-24.2-55.5-59.9-55.5-38.1 0-64.3 27.1-64.3 63.9 0 41 28.9 65.6 68.9 65.6 30.2 0 50.7-12.6 59.7-37.7zm-64.1-32c3.3-14.3 15.2-22.7 29.5-22.7 15.6 0 26.2 8.4 26.2 21.6l-.2 1.1z"/><g clip-rule="evenodd" fill-rule="evenodd"><path d="m155.5 61.744h42.9v25.1h-42.9z" fill="#40ab5d"/><path d="m155.5 9.7h42.9v25.1h-42.9z" fill="url(#a)" transform="translate(0 86.844)"/><path d="m155.5 44.5h42.9v25.1h-42.9z" fill="url(#b)" transform="translate(0 86.844)"/><path d="m0 79.3h42.9v25.1h-42.9z" fill="url(#c)" transform="translate(0 86.844)"/><path d="m51.8 79.3h42.9v25.1h-42.9z" fill="url(#d)" transform="translate(0 86.844)"/><path d="m103.7 79.3h42.9v25.1h-42.9z" fill="url(#f)" transform="translate(0 86.844)"/><path d="m155.5 79.3h42.9v25.1h-42.9z" fill="url(#g)" transform="translate(0 86.844)"/><path d="m103.7 44.5h42.9v25.1h-42.9z" fill="url(#h)" transform="translate(0 86.844)"/><path d="m51.8 44.5h42.9v25.1h-42.9z" fill="url(#i)" transform="translate(0 86.844)"/><path d="m51.8 9.7h42.9v25.1h-42.9z" fill="url(#j)" transform="translate(0 86.844)"/></g><path fill="#fff" d="m966.1 106.444v3.7h33.9v-9.9c0-22.2-13.9-38.3-37.2-38.3-15 0-25.6 7.3-31.1 19.4v-19.4h-35v129.3h35v-83.3c0-13.2 7.1-20.5 18-20.5 10 .1 16.4 9.5 16.4 19z"/></svg>
            </div>
        </a>
        <a class="grid-item" href="https://youtube.com/@highonfi?si=pGBFqpW_si5SNUVI">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox=".628 .653 762.744 170.273" width="100%"><g fill="none" fill-rule="evenodd"><path d="m238.816 27.239c-2.786-10.449-11.029-18.691-21.516-21.516-18.962-5.07-95.043-5.07-95.043-5.07s-76.042 0-95.043 5.07c-10.448 2.786-18.691 11.029-21.516 21.516-5.07 18.962-5.07 58.55-5.07 58.55s0 39.589 5.07 58.551c2.786 10.449 11.029 18.691 21.516 21.516 19.001 5.07 95.043 5.07 95.043 5.07s76.081 0 95.043-5.07c10.449-2.786 18.691-11.029 21.516-21.516 5.07-18.962 5.07-58.55 5.07-58.55s0-39.589-5.07-58.551z" fill="#f00"/><path d="m97.955 122.282 63.194-36.493-63.194-36.492z" fill="#fff"/><g fill="#282828"><path fill="#fff" d="m353.712 155.562c-4.799-3.25-8.243-8.281-10.255-15.13-2.013-6.85-3.058-15.944-3.058-27.322v-15.479c0-11.493 1.161-20.703 3.483-27.67 2.322-6.965 5.96-12.034 10.874-15.208 4.915-3.173 11.378-4.798 19.388-4.798 7.895 0 14.203 1.625 18.962 4.876 4.76 3.25 8.243 8.32 10.449 15.208 2.206 6.889 3.29 16.099 3.29 27.553v15.48c0 11.377-1.084 20.51-3.213 27.398-2.128 6.888-5.61 11.958-10.448 15.131-4.799 3.173-11.339 4.8-19.582 4.8-8.436.037-15.092-1.588-19.89-4.839zm26.972-16.717c1.316-3.483 2.013-9.172 2.013-17.027v-33.242c0-7.663-.658-13.235-2.013-16.795-1.315-3.522-3.676-5.302-7.043-5.302-3.25 0-5.534 1.78-6.888 5.302-1.316 3.521-2.012 9.132-2.012 16.795v33.242c0 7.894.619 13.583 1.896 17.027 1.277 3.483 3.599 5.224 6.966 5.224 3.405 0 5.727-1.741 7.081-5.224zm342.48-25.464v5.38c0 6.849.194 11.957.62 15.401.386 3.406 1.238 5.921 2.515 7.47 1.277 1.547 3.25 2.36 5.92 2.36 3.6 0 6.076-1.393 7.392-4.18 1.316-2.786 2.05-7.43 2.167-13.931l20.703 1.2c.117.928.155 2.205.155 3.83 0 9.869-2.709 17.221-8.088 22.097s-13.002 7.314-22.87 7.314c-11.842 0-20.123-3.715-24.883-11.145s-7.12-18.885-7.12-34.441v-18.614c0-16.021 2.476-27.67 7.39-35.06 4.915-7.353 13.351-11.03 25.31-11.03 8.242 0 14.55 1.51 18.961 4.528 4.412 3.018 7.508 7.7 9.327 14.086 1.78 6.385 2.709 15.209 2.709 26.431v18.266h-40.208zm3.057-44.89c-1.2 1.51-2.012 3.986-2.438 7.392-.426 3.405-.619 8.63-.619 15.556v7.663h17.569v-7.663c0-6.85-.232-12.035-.697-15.556-.464-3.522-1.315-6.037-2.515-7.469s-3.096-2.167-5.65-2.167c-2.554-.039-4.45.735-5.65 2.244zm-430.944 42.878-27.32-98.642h23.837l9.559 44.697c2.438 11.029 4.218 20.394 5.379 28.172h.696c.813-5.573 2.593-14.899 5.38-28.018l9.906-44.89h23.838l-27.63 98.681v47.328h-23.645zm189.08-59.324v106.613h-18.769l-2.09-13.041h-.503c-5.108 9.868-12.77 14.783-22.948 14.783-7.081 0-12.306-2.322-15.672-6.966-3.367-4.644-5.031-11.88-5.031-21.748v-79.641h23.993v78.286c0 4.76.503 8.166 1.548 10.178s2.786 3.057 5.224 3.057c2.09 0 4.102-.62 5.998-1.896 1.896-1.277 3.328-2.903 4.257-4.876v-84.75zm123.138 0v106.613h-18.769l-2.09-13.041h-.503c-5.108 9.868-12.77 14.783-22.948 14.783-7.081 0-12.306-2.322-15.672-6.966-3.367-4.644-5.031-11.88-5.031-21.748v-79.641h23.993v78.286c0 4.76.503 8.166 1.548 10.178 1.044 2.012 2.786 3.057 5.224 3.057 2.09 0 4.102-.62 5.998-1.896 1.896-1.277 3.328-2.903 4.257-4.876v-84.75z"/><path fill="#fff" d="m549.602 32.038h-23.838v126.62h-23.49v-126.62h-23.838v-19.31h71.127v19.31zm137.34 37.072c-1.47-6.733-3.792-11.609-7.043-14.627-3.25-3.019-7.7-4.528-13.39-4.528-4.41 0-8.513 1.238-12.344 3.754-3.831 2.476-6.772 5.766-8.862 9.829h-.193v-56.19h-23.142v151.349h19.813l2.438-10.1h.504c1.857 3.599 4.643 6.424 8.358 8.513 3.715 2.09 7.818 3.135 12.345 3.135 8.127 0 14.086-3.754 17.918-11.223 3.83-7.468 5.727-19.155 5.727-35.06v-16.873c.039-11.919-.697-21.245-2.129-27.978zm-22.019 43.497c0 7.779-.31 13.854-.967 18.266-.62 4.412-1.703 7.546-3.212 9.404-1.51 1.857-3.522 2.786-6.076 2.786-1.974 0-3.792-.464-5.495-1.393-1.664-.929-3.057-2.322-4.102-4.18v-60.562c.813-2.903 2.206-5.263 4.18-7.12 1.973-1.858 4.101-2.787 6.423-2.787 2.438 0 4.334.967 5.65 2.863 1.316 1.897 2.245 5.147 2.786 9.636.504 4.528.774 10.952.774 19.31v13.777z"/></g></g></svg>
            </div>
        </a>
    </div>
</section>



<style>
    .music-icon-grid{
        width: 100%;
        place-items: center;
        height: 300px;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    
    @media (min-width: 760px) {
        .music-icon-grid {
            grid-template-columns: 1fr 1fr 1fr; 
        }
    }
    @media (min-width: 1060px) {
        .music-icon-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr; 
        }
    }
    
    .grid-item{
        cursor: pointer;
        width: 150px;
    }
    .responsive-artist-navbar{
        position: absolute;
        z-index: 1000px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background-color: transparent; /* Transparent background */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        color: white;
        opacity: 0;
    }

    .responsive-artist-navbar > img{
        position: absolute;
        top: 1px;
    }

    .responsive-artist-navbar > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }
    
    .button-large{
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 20px;
        display: block;
        text-align: center;
        background-color: transparent; /* Transparent background */
        backdrop-filter: blur(10px); /* Background blur */
    }
    .button-large > span{
        width: 150px;
        display: block;
    }
    .artist-banner-img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        perspective: 1000px;
        display: flex;
        align-items: center;
        height: calc(100dvh - 200px);
        /* height: 100%; */
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 2000ms;
    }

    .image-container {
        margin-left: auto;
        margin-right: auto;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 2000ms;
        height: 48dvh;
        position: relative;
        cursor: pointer;
        aspect-ratio: 0.8 / 1;
    }

    @media (min-width: 640px) {
        .image-container {
            height: 54dvh;
        }
    }

    .image-container img {
        border-radius: 5px;
        color: transparent;
    }

    /* You'll need to define the styles for .loader and .is-loading separately */


    .artist-page {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .clikable-image {
        position: fixed;
        bottom: 0;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        /* border: 2px white solid; */
        /* padding: 20px; */
        /* border-radius: 100%;
        background-color: black; */
    }

    .artist-navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: fit;
        text-transform: capitalize;
        justify-content: space-between;
        color: white;
        padding: 20px 20px;
    }

    .artist-navbar>a {
        border: 1px solid white;
        border-radius: 20px;
        padding: 1px 7px;
    }

    .artist-banner {
        width: 100%;
        height: fit;
        display: flex;
        flex-direction: column;
        /* padding: 40px 20px; */
        /* height: 100dvh; */
    }

    .scroll-down {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 0px;
        gap: 5px;
    }

    .banner-container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            text-transform: uppercase;
            text-align: center;
            z-index: 10;
            display: flex;
            align-items: center;
            height: 26vh;
            padding-bottom: 20px;
        }

        @media (min-width: 640px) {
            .banner-container {
                height: 23vh;
                padding-bottom: 100px;
            }
        }

        .bouncy {
            animation: bounce 1.5s infinite;
            display: block;
            margin: 10px auto 0;
        }

        @media (min-width: 640px) {
            .bouncy {
                margin-top: 20px;
            }
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-20px);
            }
            60% {
                transform: translateY(-10px);
            }
        }

        .js-scroll-fade {
            opacity: 1;
        }
</style>