<section class="artist-page">
    {% render 'autoplay-music' %}
    <nav class="artist-navbar">
        <a onclick="history.back()">
            <li>{% render 'icon-back-arrow' %}</li>
        </a>
        <button class="shows">
            <li>shows</li>
        </button>
    </nav>
    <div class="artist-banner">
        <div class="artist-banner-img">
            <div class="image-container">
                <img src="https://cdn.shopify.com/s/files/1/0552/4511/1342/files/index-background.jpg?v=1722259908"
                width="" height="" alt="">
                </div>
                <div class="scroll-down js-scroll-fade">
                    <div>
                        <img src="{{ 'logo-2--unscreen.gif'  | asset_url }}" alt="" width="" height="" class="clikable-image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" fill="none" viewBox="0 0 11 12" class="bouncy">
                        <circle cx="5.332" cy="3.847" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="2.598" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="1.348" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="5.098" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="6.348" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="7.598" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="8.848" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="10.099" r="0.547" fill="currentColor"></circle>
                        <circle cx="5.332" cy="11.349" r="0.547" fill="currentColor"></circle>
                        <circle cx="9.304" cy="7.376" r="0.547" fill="currentColor" transform="rotate(45 9.304 7.376)"></circle>
                        <circle cx="8.42" cy="8.26" r="0.547" fill="currentColor" transform="rotate(45 8.42 8.26)"></circle>
                        <circle cx="7.536" cy="9.144" r="0.547" fill="currentColor" transform="rotate(45 7.536 9.144)"></circle>
                        <circle cx="6.652" cy="10.028" r="0.547" fill="currentColor" transform="rotate(45 6.652 10.028)"></circle>
                        <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -8.65 1.66)"></circle>
                        <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -10.16 1.036)"></circle>
                        <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -11.668 .41)"></circle>
                        <circle cx="0.547" cy="0.547" r="0.547" fill="currentColor" transform="scale(-1 1) rotate(45 -13.178 -.214)"></circle>
                        </svg>
                        </div>
            </div>
        </div>
    </div>
    <nav class="responsive-artist-navbar duration-[444ms]">
       <p>Enter email for update</p>
       {% form 'customer' %}
           <input placeholder="EMAIL" class="button-large  js-email"
           name="contact[email]"
           value="{{ form.email }}"
           aria-required="true"
           autocorrect="off"
           autocapitalize="off"
           autocomplete="email"
           {% if form.errors %}
             autofocus
             aria-invalid="true"
             aria-describedby="ContactFooter-error"
           {% elsif form.posted_successfully? %}
             aria-describedby="ContactFooter-success"
           {% endif %}
           required
           />
           <input Class="button-large submit" type="submit" value="SUBMIT">
       {% endform %}
   </nav>
   <div class="music-bottom">
       <div class="music-icon-grid">
           <a class="grid-item" href="https://open.spotify.com/artist/6je6DxgdIm0CGZTgcIAHJW?si=lJoiRL8-SIWso3WMvL-oDw">  
               <div>
                   {% render 'icon-spotify' %}
                   <button>play</button>
               </div>
           </a>
           <a class="grid-item" href="https://music.apple.com/us/album/free-me-gyal-single/1750745285">   
               <div>
                   <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="7104.335 7172.337 191.331 55.328">
                   <path d="M7151.891 7212.926c-1.299 2.881-1.922 4.166-3.595 6.711-2.334 3.556-5.625 7.979-9.703 8.019-3.625.033-4.557-2.357-9.475-2.332-4.917.026-5.943 2.373-9.566 2.34-4.078-.037-7.197-4.033-9.533-7.586-6.528-9.938-7.211-21.6-3.186-27.799 2.861-4.404 7.376-6.982 11.622-6.982 4.323 0 7.04 2.369 10.612 2.369 3.467 0 5.578-2.373 10.576-2.373 3.776 0 7.778 2.059 10.631 5.609-9.342 5.119-7.823 18.456 1.617 22.024z" fill="#FFFFFF" stroke="#FFFFFF"/>
                   <path d="M7135.854 7181.319c1.815-2.33 3.194-5.619 2.694-8.982-2.967.205-6.437 2.092-8.461 4.551-1.838 2.232-3.355 5.543-2.766 8.762 3.239.099 6.589-1.835 8.533-4.331z" fill="#FFFFFF" stroke="#FFFFFF"/>
                   <g fill="#FFFFFF" stroke="#FFFFFF">
                     <path d="M7168.464 7197.131c0 2.019-1.535 3.647-3.938 3.647-2.305 0-3.84-1.631-3.792-3.647-.048-2.11 1.487-3.694 3.84-3.694s3.843 1.584 3.89 3.694zm-7.536 30.004v-23.476h7.297v23.476h-7.297zM7180.56 7200.924h-8.688v-6.144h24.865v6.144h-8.832v26.211h-7.347l.002-26.211zM7219.921 7219.599c0 3.071.097 5.567.19 7.537h-6.336l-.336-3.312h-.146c-.912 1.439-3.121 3.842-7.346 3.842-4.753 0-8.257-2.979-8.257-10.227v-13.775h7.345v12.625c0 3.408 1.104 5.471 3.648 5.471 2.018 0 3.169-1.391 3.648-2.543.19-.432.237-1.008.237-1.584v-13.969h7.347v15.936h.006v-.001zM7225.775 7211.147c0-2.93-.096-5.426-.191-7.487h6.336l.336 3.217h.146c.959-1.487 3.357-3.744 7.248-3.744 4.801 0 8.398 3.168 8.398 10.08v13.922h-7.295v-13.01c0-3.022-1.057-5.088-3.695-5.088-2.018 0-3.217 1.394-3.695 2.733-.191.48-.287 1.152-.287 1.824v13.537h-7.297v-15.983l-.004-.001zM7259.52 7217.726c.24 3.024 3.217 4.465 6.625 4.465 2.496 0 4.513-.336 6.479-.959l.961 4.942c-2.399.961-5.328 1.487-8.498 1.487-7.97 0-12.528-4.655-12.528-12.002 0-5.953 3.696-12.526 11.856-12.526 7.586 0 10.465 5.901 10.465 11.713 0 1.248-.145 2.353-.238 2.879l-15.122.001zm8.593-4.995c0-1.774-.77-4.752-4.129-4.752-3.072 0-4.32 2.783-4.514 4.752h8.643zM7279.199 7220.75c1.347.813 4.129 1.774 6.289 1.774 2.209 0 3.121-.77 3.121-1.969s-.721-1.775-3.457-2.688c-4.849-1.631-6.721-4.271-6.672-7.008 0-4.416 3.744-7.73 9.554-7.73 2.735 0 5.187.625 6.625 1.346l-1.297 5.041c-1.058-.576-3.071-1.346-5.088-1.346-1.774 0-2.784.721-2.784 1.92 0 1.105.912 1.682 3.792 2.689 4.465 1.535 6.337 3.793 6.385 7.248 0 4.369-3.456 7.633-10.177 7.633-3.07 0-5.811-.722-7.585-1.683l1.294-5.227z"/>
                   </g>
                 </svg>
                 <button>play</button>
               </div>
           </a>
           <a class="grid-item" href="https://music.apple.com/us/artist/highonfi/1319516437">   
               <div>
                   {% render 'icon-appleMusic' %}
                   <button>play</button>
               </div>
           </a>
           <a class="grid-item" href="https://youtube.com/@highonfi?si=pGBFqpW_si5SNUVI">
           <div>
                   {% render 'icon-youtube-svg' %}
                   <button>play</button>
               </div>
               </a>
               <a class="grid-item" href="https://audiomack.com/highonfi/song">
               <div>
                   <svg width="100%" height="100%" viewBox="0 0 124 17">
                       {% render 'icon-audiomack' %}
                       </svg>
                       <button>play</button>
                       </div>
                       </a>
                       <a class="grid-item" href="https://www.boomplay.com/artists/32344825">
                           <div>
                               {% render 'icon-boomplay' %}
                               <button>play</button>
                           </div>
                       </a>
                   <a class="grid-item" href="https://tidal.com/artist/9322582?u">
                        <div>
                            <svg width="100%" height="100%" viewBox="0 0 124 17">
                        {% render 'icon-tidal' %}
                        </svg>
                        <button>play</button>
                        </div>
                   </a>
                   <a class="grid-item" href="https://www.deezer.com/us/artist/13678115">    
                       <div>
                           {% render 'icon-deezer' %}
                           <button>play</button>
                       </div>
                   </a>
                   <a class="grid-item" href="https://www.pandora.com/highonfiHIGHONFI">
                   <div>
                       <svg width="100%" height="100%" viewBox="0 0 124 17">
                           {% render 'icon-pandora' %}
                   </svg>
                   <button>play</button>
                   </div>
                   </a>
                   </div>
                   <div id="bottomDiv" class="bottom-div">
                       </div>
                       </div>
                       </section>
                       
                       
                       
<style>
    .bottom-div {
  position: fixed; /* Fixed at the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  background-color: #000; /* Change as needed */
  color: white;
  opacity: 1; /* Fully opaque initially */
  transition: opacity 1s; /* Smooth transition */
  backdrop-filter: blur(10px);
}

    .music-icon-grid{
        width: 100%;
        height: 500px;
        background-color: black;
        display: grid;
        grid-template-rows: auto;
        gap: 0;
        padding-inline: 20px;
        padding-bottom: 20px;
    }
    
    
    .grid-item{
        cursor: pointer;
        width: 100%;
        border-top: 1px solid white;
        padding-top: 15px;
    }
    .grid-item > div{
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .grid-item > div > button{
        color: white;
        text-transform: uppercase;
        font-size: 15px;
    }
    .grid-item > div > svg{
        width: 80px;
    }
    .responsive-artist-navbar{
        position: absolute;
        z-index: 10000;
        inset: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background-color: transparent; /* Transparent background */
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: white;
        gap: 5px;
    }
     .display{
        display: flex;
    }

    .responsive-artist-navbar > p{
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    .responsive-artist-navbar > form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .responsive-artist-navbar > form > .submit{
        &:hover{
            background-color: white ;
            color: black;
        }
    }
    
    .button-large{
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 20px;
        display: block;
        text-align: center;
        background-color: transparent; /* Transparent background */
        backdrop-filter: blur(10px); /* Background blur */
        width: 100%;
    }
    .button-large > span{
        width: 150px;
        display: block;
    }
    .artist-banner-img {
        padding-top: 100px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        perspective: 1000px;
        display: flex;
        align-items: center;
        height: 100%;
        /* height: 100%; */
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 2000ms;
        flex-direction: column;
    }

    .image-container {
        margin-left: auto;
        margin-right: auto;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 2000ms;
        height: 48dvh;
        position: relative;
        cursor: pointer;
        aspect-ratio: 0.8 / 1;
    }

    @media (min-width: 640px) {
        .image-container {
            height: 54dvh;
        }
    }

    .image-container img {
        border-radius: 5px;
        color: transparent;
    }

    /* You'll need to define the styles for .loader and .is-loading separately */


    .artist-page {
        /* position: relative; */
        width: 100%;
        height: 100%;
        background-color: black;
        scroll-behavior: smooth;
    }

    .clikable-image {
        width: 100px;
        /* padding-top: 10px; */
        /* position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); */
        /* border: 2px white solid; */
        /* padding: 20px; */
        /* border-radius: 100%;
        background-color: black; */
    }

    .artist-navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: fit;
        text-transform: uppercase;
        justify-content: space-between;
        color: white;
        padding: 20px 20px;
    }
    
    .artist-navbar>a {
        border: 1px solid white;
        border-radius: 20px;
        padding: 1px 7px;
    }
    
    .artist-navbar > button {
        border: 1px solid white;
        border-radius: 20px;
        padding: 1px 7px;
        z-index: 100000;
    }

    .artist-banner {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* padding: 40px 20px; */
        /* height: 100dvh; */
    }

    .scroll-down {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 0px;
        gap: 5px;
        /* padding-bottom: 100px; */
    }

    .banner-container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            text-transform: uppercase;
            text-align: center;
            z-index: 10;
            display: flex;
            align-items: center;
            height: 26vh;
            padding-bottom: 20px;
        }

        @media (min-width: 640px) {
            .banner-container {
                height: 23vh;
                padding-bottom: 100px;
            }
        }

        .bouncy {
            animation: bounce 1.5s infinite;
            display: block;
            margin: 10px auto 0;
        }

        @media (min-width: 640px) {
            .bouncy {
                margin-top: 20px;
            }
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-20px);
            }
            60% {
                transform: translateY(-10px);
            }
        }

        .js-scroll-fade {
            opacity: 1;
        }
</style>

<script>
    const shows = document.querySelector(".shows")
    const nav = document.querySelector(".responsive-artist-navbar")
    shows.addEventListener('click', () => {
        nav.classList.toggle('display');
    });

    document.addEventListener('scroll', function() {
    var bottomDiv = document.getElementById('bottomDiv');
    var scrollPosition = window.scrollY + window.innerHeight;
    var documentHeight = document.documentElement.scrollHeight;
    var viewportHeight = window.innerHeight;

    // Calculate the opacity value
    var maxOpacity = 1; // Maximum opacity value
    var minOpacity = 0; // Minimum opacity value
    var offset = viewportHeight; // Start fading when the bottom of the viewport reaches the bottom of the document

    var fadeStart = documentHeight - offset; // Start fading when the bottom of the viewport is at this point
    var opacity;

    if (scrollPosition < fadeStart) {
      // Scroll position is before the fade start
      opacity = maxOpacity;
    } else if (scrollPosition > documentHeight) {
      // Scroll position is past the bottom of the document
      opacity = minOpacity;
    } else {
      // Calculate opacity between min and max
      opacity = maxOpacity - ((scrollPosition - fadeStart) / (documentHeight - fadeStart) * (maxOpacity - minOpacity));
    }

    // Ensure opacity is between 0 and 1
    opacity = Math.max(minOpacity, Math.min(maxOpacity, opacity));

    // Apply the calculated opacity
    bottomDiv.style.opacity = opacity;
  });
</script>
