<div class="px-4">
  <h1 class="text-3xl font-bold">{{ page.title }}</h1>
  <div>
    <ul class="text-lg font-medium">
      <li><a href="">@lipsom elkjfs</a></li>
      <li><a href="">@lipsom elkjfs</a></li>
      <li><a href="">@lipsom elkjfs</a></li>
      <li><a href="">@lipsom elkjfs</a></li>
    </ul>
  </div>
</div>
